<div class="container">
  <div class="card">
    <div class="header">
      <span style="font-weight: bold; font-size: 2rem"> Iniciar sesi&oacute;n </span>
      <hr>
    </div>
    <form class="form-group" [formGroup]="loginForm">
      <div class="input-group">
        <pichincha-input id-element="email" label="Correo Electrónico" placeholder="Ej. name@example.com"
                         appInputAccessor
                         formControlName="email"
                         [fullWidth]="true"></pichincha-input>
        <span [innerHTML]="getErrorMessage('email')" *ngIf="loginForm.get('email')?.touched" style="color: #DA1E07; font-size: 0.9rem"></span>
      </div>
      <div class="input-group">
        <pichincha-input id-element="password" label="Contraseña" placeholder="Contraseña"
                         appInputAccessor
                         formControlName="password"
                         [type]="'password'"
                         [fullWidth]="true"></pichincha-input>
        <span [innerHTML]="getErrorMessage('password')" *ngIf="loginForm.get('password')?.touched" style="color: #DA1E07; font-size: 0.9rem"></span>
      </div>
    </form>
    <div class="action-buttons">
      <a class="link" routerLink="/register">Registrarse aquí</a>
      <pichincha-button
        (click)="onSubmit()"
        size="large" id="idButton" color="primary">
        Iniciar Sesi&oacute;n
      </pichincha-button>
    </div>
  </div>
</div>

<app-blockpage *ngIf="blockPage"></app-blockpage>
